.Logo {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 100%;
  gap: get-vw(5px);
}

.Logo_icon {
  height: get-vw(28px);
  width: auto;
}

.Logo_text {
  display: flex;
  flex-direction: column;
  gap: get-vw(1px);
}

.Logo_text_item {
  font-family: $fontPlusJakartaSans;
  font-size: get-vw(14px);
  font-weight: 700;
  line-height: 100%;

  & span {
    color: rgba(255, 255, 255, 0.8);

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
