.HomeContentDesk {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  width: 100%;

  padding: 2% 5% 0 10%;

  &::-webkit-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 5px;
    width: get-vw(10px);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    padding: 5px;
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.05);

    border-radius: get-vw(20px);
  }
}
