.HeaderNav {
  display: flex;
  flex: 1 0 0;
  justify-content: flex-end;
  align-items: center;
  gap: get-vw(35px);
  height: 100%;
}

.HeaderNav_buttons {
  display: flex;
  align-items: center;
  height: 100%;
  gap: get-vw(10px);
}
