.BurgerItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: get-vw(10px);

  font-family: $fontPlusJakartaSans;
  font-size: get-vw(32px);
  font-weight: 500;

  transition: 0.2s ease-in-out;
  transition-property: color;

  cursor: pointer;

  &:hover {
    color: #ffffff93;
  }
}

.BurgerItem_count {
  display: inline-block;
  padding: get-vw(5px) get-vw(10px);

  font-family: $fontPlusJakartaSans;
  font-size: get-vw(8px);

  border-radius: get-vw(40px);
  border: get-vw(0.6px) solid #fff;

  opacity: 0.5;
}
